<!-- <div>
    <table>

        <caption><h2>Employee Information Table</h2></caption>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Mobile No</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees"> 
                <td>{{ employee.userName | uppercase }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.mobileNumber }}</td>
                <td>
                    <a href="#" (click)="editRecord(this)" mat-raised-button>Edit</a>
                    <a href="#" (click)="deleteRecord(this)">Delete</a>
        
                </td>
            </tr>
        </tbody>
        </table>        
</div> -->

<mat-table [dataSource]="employees" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
        <div *matHeaderCellDef>Name</div>
        <div *matCellDef="let lesson">{{lesson.name}}</div>
    </ng-container>
  
    <ng-container matColumnDef="userName">
        <div *matHeaderCellDef>UserName</div>
        <div class="description-cell"
                  *matCellDef="let lesson">{{lesson.userName}}</div>
    </ng-container>
  
    <ng-container matColumnDef="salary">
        <div *matHeaderCellDef>Salary</div>
        <div class="duration-cell"
                  *matCellDef="let lesson">{{lesson.salary}}</div>
    </ng-container>
    <ng-container matColumnDef="mobileNumber">
        <div *matHeaderCellDef>Mobile No</div>
        <div class="duration-cell"
                  *matCellDef="let lesson">{{lesson.mobileNumber}}</div>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
</mat-table>